@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  font-family: "Cera Pro", Tahoma, sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding-top: 25px;
  border-bottom: 1px solid #46a35880;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  transition-duration: 300ms;
  transition-property: opacity;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  padding-bottom: 18px;
  margin-left: 50px;
  border-bottom: 3px solid transparent;
}

.menu a:first-child {
  margin-left: 0;
}

.menu a:hover {
  border-bottom-color: #46a358;
  color: #3d3d3d;
  font-weight: 700;
  opacity: 0.7;
}

.user-actions {
  display: flex;
  align-items: center;
}

.glass {
  margin-bottom: 10px;
  transition-duration: 300ms;
  transition-property: opacity;
}

.glass:hover {
  opacity: 0.7;
}

.basket {
  position: relative;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 10px;
  transition-duration: 300ms;
  transition-property: opacity;
}

.basket:hover {
  opacity: 0.7;
}

.count {
  color: #ffffff;
  width: 12px;
  height: 12px;
  background-color: #46a358;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  right: -5px;
  font-size: 10px;
}

.enter-button {
  width: 100px;
  height: 35px;
  font-family: inherit;
  color: #ffffff;
  background-color: #46a358;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 9px 31px;
  margin-left: 30px;
  margin-bottom: 18px;
  transition-duration: 300ms;
  transition-property: opacity;
}

.enter-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.sectionblocks {
  background-color: #f5f5f580;
  display: flex;
  margin-bottom: 18px;
}

.block1 {
  width: 713px;
}

.block2 {
  width: 487px;
}

.smalltext {
  color: #3d3d3d;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 62px;
  padding-left: 44px;
}

.main-title {
  color: #3d3d3d;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  width: 610px;
  padding-top: 7px;
  padding-left: 43px;
}

.green {
  color: green;
}

.bigtext {
  color: #727272;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 620px;
  padding-top: 5px;
  padding-left: 43px;
  padding-bottom: 44px;
}

.buttonshop {
  color: #ffffff;
  width: 140px;
  height: 40px;
  background-color: #46a358;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  margin-left: 43px;
  margin-bottom: 85px;
  cursor: pointer;
  transition-duration: 300ms;
  transition-property: opacity;
}

.buttonshop:hover {
  opacity: 0.7;
}

.bars {
  display: flex;
  flex-wrap: wrap;
}

.left-bar {
  width: 285px;
  background-color: #fbfbfb;
  margin-top: 12px;
}

.right-bar {
  position: relative;
  width: 915px;
  display: flex;
  flex-direction: column;
}

.right-bar-top {
  margin-left: 20px;
  margin-top: 18px;
  margin-bottom: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enter-tab {
  background: none;
  border: none;
  padding: 0;
  color: #3d3d3d;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition-duration: 300ms;
  transition-property: opacity;
}

.enter-tab:hover {
  color: #46a358;
  border-bottom: 2px solid #46a358;
  opacity: 0.7;
}

.plants {
  margin-right: 40px;
}

.arrivals {
  margin-right: 42px;
}

.top-select {
  display: flex;
  align-items: center;
}

.text-sort {
  color: #3d3d3d;
  font-weight: 400;
  font-size: 15px;
  margin-right: 32px;
}

.goods {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 285px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px;
  margin-left: 20px;
  background-color: #fbfbfb;
  position: relative;
}

.item-image {
  height: 276px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfb;
}

.item-icons {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  opacity: 0;
}

.item-icons a {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:hover .item-icons {
  opacity: 1;
}

.item-image img {
  max-width: 100%;
  height: auto;
}

.discount {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 29px;
  background-color: #46a358;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item .about {
  align-self: stretch;
  text-align: left;
}

.item .about p {
  color: #3d3d3d;
  padding-top: 12px;
  padding-bottom: 6px;
  font-weight: 400;
  font-size: 16px;
}

.item .about a {
  color: #46a358;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  transition-duration: 300ms;
  transition-property: opacity;
}

.item .about a:hover {
  opacity: 0.7;
}

.category-list {
  list-style: none;
  font-weight: 400px;
  font-size: 15px;
  line-height: 40px;
  padding-left: 0;
}

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px 0 27px;
  height: 40px;
  margin-bottom: 0;
}

.left-bar .category-name a,
.left-bar .category-number a {
  color: #4e4c4c;
  font-size: 15px;
  line-height: 40px;
  text-decoration: none;
  transition-duration: 300ms;
  transition-property: opacity;
}

.left-bar .category-name a {
  font-weight: 400;
}

.left-bar .category-number a {
  font-weight: 400;
}

.category-item:hover .category-name a,
.category-item:hover .category-number a {
  color: #46a358;
  font-weight: 700;
  opacity: 0.7;
}

.title {
  font-weight: 700;
  font-size: 18px;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 7px;
}

.paginator {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 100px;
}

.paginator a {
  color: #3d3d3d;
  width: 35px;
  height: 35px;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 300ms;
  transition-property: opacity;
}

.paginator a:hover {
  background-color: #46a358;
  color: white;
  border-color: #e5e5e5;
  opacity: 0.7;
}

.paginator a:hover svg path {
  stroke: #ffffff;
}

.paginator a.active {
  background-color: #e5e5e5;
}

.menu-02 {
  list-style: none;
  display: flex;
  padding: 0;
}

.menu-02 > li {
  position: relative;
  margin-right: 10px;
}

.menu-02 > li:last-child {
  margin-right: 0;
}

.menu-02 a {
  text-decoration: none;
  padding: 20px;
  display: block;
  color: #000;
}

.submenu,
.submenu-right {
  display: none;
  position: absolute;
  background-color: #edf6ee;
  z-index: 1;
  padding: 0;
  list-style: none;
  width: 188px;
}

.menu-02 > li:hover > .submenu {
  display: block;
  top: calc(100% + 18px);
  left: 0;
}

.submenu li {
  position: relative;
}

.submenu li.has-submenu:hover > .submenu-right {
  display: block;
  top: -300%;
  left: 100%;
  z-index: 2;
}

.submenu a {
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  color: #000;
}

.submenu a:hover {
  background-color: #1a712a;
  color: #ffffff;
}

.menu-02 ul::before {
  content: "";
  width: 100%;
  height: 25px;
  background-color: transparent;
  display: block;
  position: absolute;
  left: 0;
  top: -20px;
}

.two-flowers {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.flower-block-01,
.flower-block-02 {
  width: 50%;
}

.content-blocks {
  display: flex;
  align-items: center;
  background-color: #fbfbfb;
}

.flower-block-01:first-child {
  margin-right: 21px;
}

.content-blocks img {
  width: 285px;
  height: 292px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.text-content {
  width: 50%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text-content h2 {
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  padding-right: 20px;
}

.text-content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-right: 20px;
  padding-top: 21px;
}

.button-find-more {
  width: 140px;
  height: 40px;
  font-family: inherit;
  color: #ffffff;
  background-color: #46a358;
  font-weight: 500;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  margin-top: 23px;
  margin-right: 20px;
  cursor: pointer;
  transition-duration: 300ms;
  transition-property: opacity;
}

.button-find-more:hover {
  opacity: 0.7;
}

.block-text-04 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 132px;
}

.block-text-04 h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 16px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.block-text-04 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 35px;
}

.block-flowers-04 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.flowers-04 {
  display: flex;
}

.blog-card {
  width: 25%;
  margin-left: 20px;
  background-color: #fbfbfb;
}

.blog-card:first-child {
  margin-left: 0;
}

.text-september {
  color: #46a358;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  padding-top: 15px;
  padding-left: 15px;
}

.cactus {
  color: #3d3d3d;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding-left: 15px;
}

.cacti-succulents {
  color: #727272;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding-left: 15px;
}

.a-read-more {
  text-decoration: none;
  color: #3d3d3d;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.last-img-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fbfbfb;
  padding-top: 45px;
}

.last-img-block h2 {
  color: #3d3d3d;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  padding-bottom: 15px;
  margin-top: 10px;
}

.last-img-block p {
  color: #727272;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 23px;
}

.last-img-bigtext {
  color: #727272;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  padding-top: 17px;
}

.last-img-block {
  display: flex;
}

.last-img-block > div:not(:first-child):not(:last-child) {
  margin-left: 90px;
}

.last-img-block > div:last-child {
  margin-left: 185px;
}

.block-email h2 {
  padding-bottom: 22px;
}

.email-signup {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  width: 354px;
}

.email-signup button {
  background-color: #46a358;
  color: white;
  padding: 12px 34px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 300ms;
  transition-property: opacity;
}

.email-signup button:hover {
  opacity: 0.7;
}

.email-signup input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 16px;
  color: #acacac;
}

.green-block {
  display: flex;
  height: 88px;
  align-items: center;
  background-color: #46a3581a;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  justify-content: center;
  margin-top: -25px;
}

.green-block__inner {
  display: flex;
  width: 90%;
  max-width: 1200px;
  min-width: 600px;
  align-items: center;
  gap: 85px;
  box-sizing: border-box;
}

.contact-item {
  color: #3d3d3d;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.contact-item img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f8f8f8;
  width: 100%;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-right: 50px;
}

.footer-section {
  flex: 1;
  min-width: 0;
  margin-right: 20px;
}

.footer-section:last-child {
  margin-right: 120px;
}

.footer-section h3 {
  color: #3d3d3d;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  padding-bottom: 13px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  color: #3d3d3d;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #3d3d3d;
  transition-duration: 300ms;
  transition-property: opacity;
}

.footer-section ul li a:hover {
  color: #46a358;
  opacity: 0.7;
}

.social-media {
  display: flex;
  gap: 10px;
}

.social-media li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #46a3581a;
  border-radius: 4px;
  transition-duration: 300ms;
  transition-property: opacity;
}

.social-media li:hover {
  opacity: 0.7;
}

.social-media li img {
  width: 15px;
  height: 15px;
}

.footer-section p {
  margin: 0;
  color: #3d3d3d;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
}

.footer-section .payment-icons {
  display: flex;
}

.footer-section .payment-icons img {
  width: 224px;
  height: 26px;
}

.footer-section {
  margin-right: 0;
  margin-bottom: 20px;
}

.footer-section:last-child {
  margin-bottom: 0;
}

.accept {
  margin-top: 30px;
  margin-left: 38px;
}

.end-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  justify-content: center;
}

.last-h3 {
  margin-left: 38px;
}
