.body {
  font-family: Tahoma, sans-serif;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.menu a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
}
.menu a:hover {
  border-bottom-color: green;
}

.enter {
  font-family: inherit;
  color: #ffffff;
  background-color: #46a358;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  border-radius: 8px;
  padding: 9px 31px;
  margin-left: 355px;
}

.sectionblocks {
  background-color: #f5f5f580;
  margin-top: 12px;
}

.block1 {
  display: inline-block;
  width: 708px;
}

.block2 {
  display: inline-block;
  width: 457px;
}

.smalltext {
  color: #3d3d3d;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 10%;
  text-transform: uppercase;
  margin: 7px;
  padding: 68px 465px 7px 43px;
}

.title {
  color: #3d3d3d;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 0%;
  text-transform: uppercase;
  width: 580px;
  margin: 5px;
  padding: 0 143px 5px 40px;
}

.green {
  color: green;
}

.bigtext {
  color: #727272;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  width: 525px;
  padding: 0 113px 43px 44px;
}

.buttonshop {
  font-family: inherit;
  color: #ffffff;
  background-color: #46a358;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  border: none;
  border-radius: 8px;
  margin: 0 532px 85px 41px;
  padding: 11px 27px 9px 26px;
  text-transform: uppercase;
  width: max-content;
}

.logo,
.menu,
.enter {
  display: inline-block;
}

.logo {
  margin-right: 244px;
}
