.footer {
  background-color: rgba(245, 245, 250, 1);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-content img {
  width: 38px;
  height: 38px;
  margin: 0 auto;
}

.footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.footer__blue {
  color: rgba(36, 163, 255, 1);
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__tel {
  color: rgba(70, 70, 110, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  text-decoration: none;
}

.footer__last {
  color: rgba(179, 179, 186, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}
