.services {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(36, 163, 255, 1);
}

.blockred-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(240, 20, 90, 1);
  margin-bottom: 30px;
}

.block-six {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.block-six__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  border-radius: 24px;
  padding: 14px;
  width: 100%;
}

.block-six__icon {
  width: 92px;
  height: 92px;
  margin-bottom: 30px;
}

.block-six__link {
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(36, 163, 255, 1);
  text-decoration: none;
  margin-bottom: 15px;
}

.block-six__link:hover {
  text-decoration: underline;
}

.block-six__text {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
}

@media (min-width: 768px) {
  .block-six {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .block-six__card {
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .block-six {
    padding: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .block-six__card {
    width: calc(33.333% - 20px);
    margin-right: 0;
    margin-bottom: 30px;
  }

  .block-six__icon {
    width: 64px;
    height: 64px;
  }

  .block-six__link {
    font-size: 20px;
  }

  .block-six__text {
    font-size: 16px;
  }
}
