.social-links {
  display: flex;
  gap: 10px;
  margin-bottom: 60px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: rgba(245, 245, 250, 1);
  border-radius: 12px;
  text-decoration: none;
}

.social-link img {
  width: 24px;
  height: 24px;
}
